$bg-primary: #003554;
$bg-secondary: #f5f5f5;
$bg-ternary: #e1e3e6;
$background: #fafafa;
$transition-speed: 400ms;

$p1: rgb(46,54,65);
$p2: rgb(233,240,244);
$p3: #F7F8FB;
$p4: rgb(26,188,156);
$p5: rgb(22,160,133);
$p6: #225CB2;

.App {
  background-color: $background;
  text-align: center;

  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  // scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  // height: 100vh;
  // border: 1px solid red;
  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  h1 {
    text-align: center;
    font-weight: bold;
  }
}

.section {
  // border: 1px solid red;
  scroll-snap-align: start;
  padding-left: 8rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.section-title {
  h1 {
    color: black;
    opacity: 0.6;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
  }
}

.card {  
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.4);
  min-height: 60vh;
}

.Contact {
  min-height: 70vh;
  background-color: white;
  .makeStyles-paper-1 {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    padding-left: 6rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .section {
    padding-left: 1rem;
  }
  .navbar {
    width: 5rem;
  }
}