$bg-primary: #003554;
$bg-secondary: #f5f5f5;
$bg-ternary: #e1e3e6;
$background: #fafafa;
$transition-speed: 400ms;

$p1: rgb(46, 54, 65);
$p2: rgb(233, 240, 244);
$p3: #f7f8fb;
$p4: rgb(26, 188, 156);
$p5: rgb(22, 160, 133);
$p6: #225cb2;

.AboutMe {
  // min-height: 80vh;
  color: black;
  margin-top: 100vh;
  margin-bottom: 4rem;

  .card {
    padding-top: 2rem;
    // background-color: $bg-primary;
    .text {

      font-family: Verdana, Geneva, Tahoma, sans-serif;;
      padding: 0rem 1rem;
      text-align: left;
      line-height: 1.2;
      margin: 0;

    }
  }
}
