$bg-primary: #003554;
$bg-secondary: #f5f5f5;
$bg-ternary: #e1e3e6;
$background: #fafafa;
$transition-speed: 400ms;

$p1: rgb(46, 54, 65);
$p2: rgb(233, 240, 244);
$p3: #f7f8fb;
$p4: rgb(26, 188, 156);
$p5: rgb(22, 160, 133);
$p6: #225cb2;

.AboutMe {
  min-height: 80vh;
  color: black;
  margin-top: 100vh;

  .card {
    min-height: 70vh;
    padding: 1rem 0;
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;;
      padding: 0rem 1rem;
      text-align: left;
      line-height: 1.2;
      margin: 0;
    }
  }

  .card-list {
    // border: 1px solid red;
    padding-top: 1rem;
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;;
      padding: 0rem 1rem;
      text-align: left;
      line-height: 1.2;
      margin: 0;

    }
    
    .card {
      min-height: 0;
      padding: 0;
    }

    .small {
      padding: 0.2rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .AboutMe {
    .card-list {
      p {
        padding-bottom: 1rem;
      }
    }
  }
}
