
.scrolldown-container {
  margin-top: 10rem;
  // Change to 5rem for mobile
}
.arrows-animation {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    border-right: 3px solid rgba(255, 255, 255, 1);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;

    &:nth-child(2) {
      animation-delay: -0.2s;
    }
    &:nth-child(3) {
      animation-delay: -0.4s;
    }
  }
}

@keyframes animate {
  0% {
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    border-right: 3px solid rgba(255, 255, 255, 0);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    border-right: 3px solid rgba(255, 255, 255, 1);
  }
  100% {
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    border-right: 3px solid rgba(255, 255, 255, 0);
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media only screen and (max-width: 1004px) {
  .scrolldown-container {
    margin-top: 5rem;
    margin-left: 3.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .scrolldown-container {
    margin-top: 4rem;
    margin-left: 0;
  }
  .arrows-animation {
    .span {
      margin: -5px;
    }
  }
}