$bg-primary: #003554;
$bg-secondary: #f5f5f5;
$bg-ternary: #e1e3e6;
$background: #fafafa;
$transition-speed: 400ms;

$p1: rgb(46, 54, 65);
$p2: rgb(233, 240, 244);
$p3: #f7f8fb;
$p4: rgb(26, 188, 156);
$p5: rgb(22, 160, 133);
$p6: #225cb2;

.Modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .carousel-container {
    margin: 5rem 10rem;
    
    .carousel {
      // border: 1px solid red;
      min-height: 40vh;
      min-width: 60vh;
      background-color: black;
      // display: inline-block;

      img {
        object-fit: contain;
        // height: 100%;
        max-height: 80vh;
      }

      video {
        object-fit: contain;
        // height: 100%;
        max-height: stretch;
        max-width: stretch;
      }
      .video-card {
        object-fit: stretch;
        // height: 100%;
        // max-height: stretch;
        // max-width: stretch;
      }

    }
  }
}

.Projects {
  margin-top: 4rem;
  color: black;
  min-height: 80vh;

  .project-list {
    // border: 1px solid red;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    overflow-y: scroll;
    max-height: 90vh;
    margin-top: 0;
    // scroll-snap-type: y mandatory;

    .project-card {
      // border: 1px solid blue;
      width: 30rem;
      border-radius: 0.5rem;
      margin: 1.5rem 0.2rem;
      transition: 0.3s;
      overflow: hidden;
      background-color: white;
      // scroll-snap-align: center;
      box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      &:hover {
        transform: scale(1.07);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3);
      }

      .project-title {
        background-color: white;
        border-radius: 0.5rem 0.5rem 0 0;
        text-align: center;
      }

      .project-description {
        text-align: left;
        padding-left: 1rem;
      }

      .project-image {
        background-color: white;
        width: 30rem;
        height: 20rem;
        object-fit: contain;

        &:hover {
          cursor: pointer;
        }
      }

      .btn {
        display: block;
        border-radius: 0 0 0.5rem 0.5rem;
        color: #fff;
        background-color: white;
        border-top: #e1e3e6;
        opacity: 1;
        text-align: center;
        margin-top: 30px;
        text-decoration: none;
        padding: 10px 5px;
        &:hover {
          box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
