$bg-primary: #014972;
$bg-primaryold: #003554;
$bg-secondary: #f5f5f5;
$bg-ternary: #e1e3e6;
$background: #fafafa;
$transition-speed: 400ms;

.navbar-home {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
  z-index: 5;
  width: 5rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
  min-height: 90vh;
  position: fixed;
  background-color: $bg-primary;
  opacity: 1;
  transition: opacity $transition-speed ease-in-out,
    width $transition-speed ease-in-out,
    background-color $transition-speed ease-in,
    margin-top $transition-speed ease-in;
  overflow: scroll;
  &:hover {
    opacity: 1;
    width: 12rem;
  }
  &:hover .link-text {
    display: block;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    // margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    span {
      white-space: nowrap;
    }

    .nav-item {
      width: 100%;
      height: 100%;
      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: $bg-secondary;
        text-decoration: none;
        transition: $transition-speed;
        svg {
          fill: $bg-secondary;
          min-width: 2rem;
          margin: 0 1.5rem;
        }
        &:hover {
          filter: grayscale(0%) opacity(1);
          background-color: #003554;
        }
      }
    }
  }
}

.navbar {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
  z-index: 5;
  width: 5rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
  min-height: 90vh;
  position: fixed;
  background-color: white;
  opacity: 1;
  transition: opacity $transition-speed ease-in-out,
    width $transition-speed ease-in-out,
    background-color $transition-speed ease-in,
    margin-top $transition-speed ease-in;
  overflow: scroll;
  &:hover {
    opacity: 1;
    width: 12rem;
  }
  &:hover .link-text {
    display: block;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    // margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      white-space: nowrap;
    }

    .nav-item {
      width: 100%;
      height: 100%;
      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: $bg-primary;
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: $transition-speed;
        svg {
          min-width: 2rem;
          margin: 0 1.5rem;
        }
        &:hover {
          filter: grayscale(0%) opacity(1);
          background-color: $bg-primary;
          color: $bg-secondary;
          svg {
            fill: $bg-secondary;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 4rem;
    .navbar-nav {
      .nav-item {
        .nav-link {
          svg {
            margin: 0 1rem;
          }
        }
      }
    }
  }
  .navbar-home {
    width: 4rem;
    .navbar-nav {
      .nav-item {
        .nav-link {
          svg {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .navbar {
    // border: 1px solid red;
    margin: 0;
    min-height: 0;
    min-width: 90vw;
    bottom: 0.5rem;
    left: 5vw;
    right: 0;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .nav-item {
        .nav-link {
          .link-text {
            display: none;
          }
          svg {
            min-width: 0;
            width: 1.9rem;
            margin: 0 1rem;
          }
        }
      }
    }
  }
  .navbar-home {
    margin: 0;
    min-height: 0;
    min-width: 90vw;
    bottom: 0.5rem;
    left: 5vw;
    right: 0;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .nav-item {
        .nav-link {
          .link-text {
            display: none;
          }
          svg {
            min-width: 0;
            width: 1.9rem;
            margin: 0 1rem;
          }
        }
      }
    }
  }
}

